.category {
	border: solid 1px black;
	position: absolute !important;
	top:-220px;
}
.categoryEditRoot {
	position: relative;
	padding: 7px;
	background-color: #D4D4D4;
}

.menuItem {
	position: relative;
	margin-bottom: 10px;
	height: 25px;
}

.menuItem .gwt-Label {
	clear: both;
	position: absolute;
	left: 0;
	top: 6px;
}

.menuItem .gwt-TextBox {
	position: absolute;
	right: 0;
}

.menuItem .gwt-FileUpload {
	position: absolute;
	right: 0;
}

.menuItem .gwt-Image {
	position: absolute;
	right: 30px;
}

.menuItem .delete {
	position: absolute;
	right: 0;
}

.categoryEditRoot .buttons {
	position: absolute;
	bottom: 0;
	right: 0;
}

.gwt-PopupPanel {
	background-color: gray;
}
.key {
	display: none;
}
.photoCarousel {
	width: 100%;
	height: 600px;
	position: absolute;
}
.gwt-PopupPanel {
	z-index: 999;
}
.good {
	padding: 10px;
	border: 1px solid;
}
.good-description {
	max-width: 800px;
}

/**********************ANIMATIONS********************/
@-moz-keyframes slideFromBottom {
	0% {}
	70% {top: 10px;}
	100% {top: 100px;}
}

@-webkit-keyframes slideFromBottom {
	0% {}
	70% {top: 10px;}
	100% {top: 100px;}
}

@-o-keyframes slideFromBottom {
	0% {}
	70% {top: 10px;}
	100% {top: 100px;}
}

@keyframes slideFromBottom {
	0% {}
	70% {top: 10px;}
	100% {top: 100px;}
}

.carouselAnimated {
	-moz-animation: slideFromBottom 2s forwards;
	-webkit-animation: slideFromBottom 2s forwards;
	-o-animation: slideFromBottom 2s forwards;
	animation: slideFromBottom 2s forwards;
}


.carouselDownAnimated {
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}