.category {
	width: 300px;
	height: 200px;
	margin: 10px;
	border: solid 1px black;
	float: left;	
}

.categoryEditRoot {
	position: relative;
	padding: 7px; 
	background-color: #D4D4D4;
}

.menuItem {
	position: relative;
	margin-bottom: 10px;
	height: 25px;
}

.menuItem .gwt-Label {
	clear: both;
	position: absolute;
	left: 0;
	top: 6px;
}

.menuItem .gwt-TextBox {
	position: absolute;
	right: 0;
}

.menuItem .gwt-FileUpload {
	position: absolute;
	right: 0;
}

.menuItem .gwt-Image {
	position: absolute;
	right: 30px;
}

.menuItem .delete {
	position: absolute;
	right: 0;
}

.categoryEditRoot .buttons {
	position: absolute;
	bottom: 0;
	right: 0;
}

.gwt-PopupPanel {
	background-color: gray;
}